.top {
    display:flex;
    height:250px;
    margin-top: 65px;
  }

.flex-item{
    width:125px;
    height:100px;
    display:flex;
}

.flex-item span{
    font-size:1.25rem;
}
  
.logo{
    margin-right: auto;
    margin-left: 75px;
}

.features{
    align-self: top;
}

.team{
    align-self: top;
}

.signIn{
    align-self: top;
    margin-right: 25px;
}

.middle1{
    display:flex;
    width:50%;
    height:500px;
    margin-left: 75px;
    flex-direction: column;
    margin-bottom: 100px;
    flex-wrap: wrap;
    
}

.textBig1{
    font-size: 2.75rem;
    margin-bottom:15px;
    font-weight:550;
    padding-top:50px;
    margin-right: 200px;
    
}

.textSmaller1{
    font-size:1.35rem;
    margin-bottom:15px;
    margin-right: 150px;
}

.emailField{
    width:300px;
    height:25px;
}

::placeholder {
    opacity: 0.5;
    font-size: 1rem;
    
  }

.getStarted{
    background-color:#6a96fe; 
    color:White;
    height:32px;
    width:200px;
    margin-left:10px;
    border-radius:5px;
    border:0;
}

.img2{
    max-width:50%;
}